# git submodule update --init
[submodule "external/cppLoggingInterface"]
	path = external/cppLoggingInterface
	url = https://github.com/Encoded404/cppLoggingInterface
[submodule "external/cppFileLoader"]
	path = external/cppFileLoader
	url = https://github.com/Encoded404/cppFileLoader
